.home-container {
    background: linear-gradient(135deg, #4A00E0, #00A9FF);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    transition: opacity 0.5s ease-in-out;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: 90%;
    }

    .content {
        max-width: 50%;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .cta-btn {
        background: white;
        color: black;
        font-size: 1rem;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
    }

    .cta-btn a {
        text-decoration: none;
        color: black;
    }

    .cta-btn:hover {
        transform: scale(1.1);
        background: #f1f1f1;
    }

    .image-container {
        width: 40%;
    }

    .image-container img {
        max-width: 500px;
    }
}
